.configViewContainer {
    height: 100%;
    width: 100%;
}

.titleContainer {
    display: flex;
    margin: 5em auto;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 60vw;
}

.startButtonContainer {
    display: flex;
    margin: 5em auto;
    background-color: cornflowerblue;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 60vw;
}

.settingsListContainer {
    justify-content: center;
    align-items: center;
}

.settingListItem {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    margin-top: 2em;
    height: 4em;
    width: 60vw;
}

