.homeContainer {
    height: 100%;
    width: 100%;
}

.nameInputContainer {
    display: flex;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.menuContainer {
    justify-content: center;
    align-items: center;
}

.menuOptionContainer {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61dafb;
    margin-top: 2em;
    height: 4em;
    width: 60vw;
}

.menuOption {
}
